html, body {
    height: 100%;
    touch-action: none;
}



body {
 background-image: url(zig-zag-wool.png); /* Background pattern from Subtle Patterns */
}

.bloatText {
    font-size: 1.4em;
}

/* unvisited link */
a:link {
    color: inherit;
}

/* visited link */
a:visited {
    color: inherit;
}

/* mouse over link */
a:hover {
    color: inherit;
}

/* selected link */
a:active {
    color: inherit;
}

h1, h2, h3 {
    margin: 3px;
    margin-left: 0px0;
}

hr {
    border-color: black;
}

.niceBox {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#bookings {
    border: 1px solid #ccc;
    border-radius: 4px;
}

label
{
    display: block;
}

label span
{
    display: inline-block;
    text-align: right;
    width: 120px;
    margin-right: 5px;
}

.form-control
{
    display: inline-block;
    width: initial;
}